<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ description }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="/assets/scripts/gsap.min.js"></script>
    <script src="/assets/scripts/ScrollTrigger.min.js"></script>
    <script src="/assets/scripts/ScrollSmoother.min.js"></script>
    <script src="/assets/scripts/ScrollToPlugin.min.js"></script>
    <script src="/assets/scripts/DrawSVGPlugin.min.js"></script>
    <script src="/assets/scripts/SplitText.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body class="page__{{ bodyClass }}">
    <div id="responsive__menu" class="responsive__menu">
        <a href="javascript:void(0);" class="close" onclick="myToogle()"></a>
        {% include 'navigator.njk' %}
        {% include 'navwhatsapp.njk' %}
    </div>
    <div id="cover__responsive" class="cover__responsive" onclick="myToogle()"></div>
    {% include 'header.njk' %}
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                {{ content | safe }}
            </main>
            {% include 'footer.njk' %}

        </div>
    </div>
</body>
</html>

<script>

    //Hamburguesa

    function myToogle() {
        var x = document.getElementById("responsive__menu");
        var y = document.getElementById("cover__responsive");
        if (x.style.right === "0px") {
            x.style.right = "-300px";
            y.classList.remove("visible");
        } else {
            x.style.right = "0px";
            y.classList.add("visible");
        }
    }

    ScrollTrigger.matchMedia({
    "(min-width: 1024px)": function () {

        
        // GSAP ScrollSmoother init
        ScrollSmoother.create({
            smooth: 1,
            effects: true,
            smoothTouch: 0.1,
        });
        
    },

    // all media
    all: function () {

        // Registro de plugins
        gsap.registerPlugin(ScrollTrigger, ScrollSmoother, DrawSVGPlugin, ScrollToPlugin, SplitText);

    },
});

    

</script>