<header id="section__header">
    <div class="inner__header">
        <a id="logo__header" href="/">
            <img src="/assets/images/radisur_logo.svg" />
        </a>
        {% include 'navigator.njk' %}
        <div id="whatsapp__wrapper">
            {% include 'navwhatsapp.njk' %}
            <div class="hamburguer__icon" onclick="myToogle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>