<header id="section__header">
    <div class="inner__header">
        <a id="logo__header" href="/">
            <img src="/assets/images/radisur_logo.svg" />
        </a>
        <nav>
            <ul role="list">
                <li><a href="/">Radiadores</a></li>
                <li><a href="/nosotros/">Nosotros</a></li>
                <li><a href="/contacto/">Contacto</a></li>
            </ul>
        </nav>
        <div id="aMensaje"><a href="https://wa.me/521{{contacto.whatsapp}}"><img src="/assets/images/whatsapp.svg" />Mensaje</a></div>
    </div>
</header>