---
title: Contáctanos
description: Radiadores para todas las marcas y modelos de vehículo
bodyClass: contacto
layout: 'base.njk'
---

<section id="section__hero">
  <div class="column__2 max1400">
    <div class="col__left">
      <h1>Venta de radiadores para vehículos</h1>
      <h2>Contáctanos, somos los<span>expertos</span> en radiadores.</h2>
      <a id="btnHero" class="btn">Contáctanos</a>
    </div>
    <div class="col__right">
      <div class="inner__hero">
        <img src="/assets/images/contacto/contacto_fg.png" />
        <video width="720" height="720" autoplay muted loop playsinline>
            <source src="/assets/images/contacto/contacto_bg.mp4" type="video/mp4">
            Tu navegador no soporta este formato de video.
        </video>
    </div>
    </div>
  </div>
</section>

<section id="section__contact__data">
  <div class="column__1 max1400">
    <div id="data__contacto__wrapper">
      <div class="data__contacto">
        <img src="/assets/images/contacto/icono_telefono.svg" />
        <h2>Teléfono oficina:</h2>
        <a href="tel:+521{{contacto.telefono}}">{{ contacto.telefono }}</a>
      </div>
      <div class="data__contacto">
        <img src="/assets/images/contacto/icono_whatsapp.svg" />
        <h2>WhatsApp:</h2>
        <a href="https://wa.me/521{{contacto.whatsapp}}" target="_blank">{{ contacto.whatsapp }}</a>
      </div>
      <div class="data__contacto">
        <img src="/assets/images/contacto/icono_correo.svg" />
        <h2>Correo electrónico:</h2>
        <a href="mailto:{{contacto.correo}}">{{ contacto.correo }}</a>
      </div>
    </div>
  </div>
</section>

<section id="section__contacto">
  <div class="column__2 max1400">
    <div class="col__left">
      <h2>A través del formulario:</h2>
      <p>Llena todos los campos y nos pondremos en contacto contigo para brindarte información y soluciones.</p>
      <form id="contact__form">
        <label>Nombre:
          <input type="text" id="name" name="name">
        </label>
        <label>Teléfono:
          <input type="tel" id="tel" name="tel">
        </label>
        <label>Correo electrónico:
          <input type="email" id="email" name="email">
        </label>
        <label>Comentarios:
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </label>
        <button class="btn">Enviar</button>
      </form>
    </div>
    <div class="col__right">
      <h2>Visítanos:</h2>
      <div class="mapa__wrapper">
        
        <img class="proxy__mapa" src="/assets/images/proxy_mapa.png" />
      </div>
    </div>
  </div>
</section>

<section id="section__banners">
  <div class="column__2 max1400">
    <div class="col__left">
      <a href="/nosotros/" id="banner__nosotros" class="banner">
        <div class="inner__banner__left">
          <h2>Conoce más de nosotros</h2>
          <p class="btn">Más información</p>
        </div>
        <div class="inner__banner__right">
          <img src="/assets/images/banner_nosotros.png" />
        </div>
        <div class="banner__bg"></div>
      </a>
    </div>
    <div class="col__right">
      <a href="/" id="banner__radiadores" class="banner">
        <div class="inner__banner__left">
          <h2>Encuentra el radiador</h2>
          <p class="btn">Buscar</p>
        </div>
        <div class="inner__banner__right">
          <img src="/assets/images/banner_radiadores.png" />
        </div>
        <div class="banner__bg"></div>
      </a>
    </div>
  </div>
</section>

<script>
  gsap.registerPlugin(ScrollTrigger, ScrollSmoother, DrawSVGPlugin, ScrollToPlugin, SplitText);

  let btnhero = document.getElementById("btnHero");
  btnhero.addEventListener("click", (e) => {
    gsap.to(window, { duration: 0.5, scrollTo: { y: "#section__contact__data", offsetY: 100 } });
  });

</script>