---
title: Somos Radisur
description: Radiadores para todas las marcas y modelos de vehículo
bodyClass: nosotros
layout: 'base.njk'
---

<section id="section__hero">
  <div class="column__2 max1400">
    <div class="col__left">
      <h1>Venta de radiadores para vehículos</h1>
      <h2>Encuentra el radiador <span>match</span> para tu vehículo.</h2>
      <p>Tenemos un catálogo amplio para la mayoría de marcas de auto</p>
      <a class="btn" href="#">Buscar el radiador para mi coche</a>
    </div>
    <div class="col__right">
      <img src="/assets/images/hero_inicio.jpg" />
    </div>
  </div>
</section>

<section id="section__intro__nosotros">
    <div class="column__2 max1400">
        <div class="col__left">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit officiis dicta tenetur</h2>
        </div>
        <div class="col__right">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, at blanditiis consequuntur ullam
                dolorem unde tenetur soluta accusamus quis, libero incidunt.
                Sed, sapiente et rem neque numquam quae deleniti earum.
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, at blanditiis consequuntur ullam
                dolorem unde tenetur soluta accusamus quis, libero incidunt.
            </p>
        </div>
    </div>
</section>

<section id="section__valores">
    <div class="column__1 max1400">
        <h2>Nuestros valores</h2>
        <div class="listado__valores">
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 2</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 3</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 4</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
        </div>
    </div>
</section>