---
title: Somos Radisur
description: Radiadores para todas las marcas y modelos de vehículo
bodyClass: nosotros
layout: 'base.njk'
---

<section id="section__hero">
  <div class="column__2 max1400">
    <div class="col__left">
      <h1>Somos expertos en radiadores</h1>
      <h2>Ofrecemos productos de <span>calidad</span> para tu automóvil.</h2>
      <a id="btnHero" class="btn">Conoce más de nosotros</a>
    </div>
    <div class="col__right">
        <div class="inner__hero">
            <img src="/assets/images/nosotros/nosotros_fg.png" />
            <video width="720" height="720" autoplay muted loop playsinline>
                <source src="/assets/images/road_bg.mp4" type="video/mp4">
                Tu navegador no soporta este formato de video.
            </video>
        </div>
    </div>
  </div>
</section>

<section id="section__intro__nosotros">
    <div class="column__2 max1400">
        <div class="col__left">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit officiis dicta tenetur</h2>
        </div>
        <div class="col__right">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, at blanditiis consequuntur ullam
                dolorem unde tenetur soluta accusamus quis, libero incidunt.
                Sed, sapiente et rem neque numquam quae deleniti earum.
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, at blanditiis consequuntur ullam
                dolorem unde tenetur soluta accusamus quis, libero incidunt.
            </p>
        </div>
    </div>
</section>

<section id="section__valores">
    <div class="column__1 max1400">
        <h2>Somos una empresa que se rige por valores:</h2>
        <div class="listado__valores">
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 2</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 3</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
            <div class="valor">
                <img src="/assets/images/nosotros/proxy.svg" alt="Valor 1" />
                <h3>Valor 4</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Beatae corporis quas veritatis sint. Molestias, sit, possimus
                    consectetur deleniti minima optio.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="section__banners">
    <div class="column__2 max1400">
      <div class="col__left">
        <a href="/nosotros/" id="banner__nosotros" class="banner">
          <div class="inner__banner__left">
            <h2>Conoce más de nosotros</h2>
            <p class="btn">Más información</p>
          </div>
          <div class="inner__banner__right">
            <img src="/assets/images/banner_nosotros.png" />
          </div>
          <div class="banner__bg"></div>
        </a>
      </div>
      <div class="col__right">
        <a href="/contacto/" id="banner__contacto" class="banner">
          <div class="inner__banner__left">
            <h2>Resolvemos tus dudas</h2>
            <p class="btn">Contáctanos</p>
          </div>
          <div class="inner__banner__right">
            <img src="/assets/images/banner_contacto.png" />
          </div>
          <div class="banner__bg"></div>
        </a>
      </div>
    </div>
  </section>

  <script>
    gsap.registerPlugin(ScrollTrigger, ScrollSmoother, DrawSVGPlugin, ScrollToPlugin, SplitText);
  </script>